<nav class="navbar navbar-expand-sm fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#home">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to t('index.home'), '#home', class: 'nav-link', id: 'home_link' %>
                </li>
                <li class="nav-item">
                  <%= link_to t('index.photos'), '#photos', class: 'nav-link', id: 'photos_link' %>
                </li>
                <li class="nav-item">
                  <%= link_to t('index.about'), '#about', class: 'nav-link', id: 'about_link' %>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"><%= I18n.locale.to_s.upcase %></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <% I18n.available_locales.each do |locale| %>
                    <%= link_to locale.to_s.upcase, root_path(locale: locale), class: 'dropdown-item' unless locale == I18n.locale %>
                  <% end %>
                  </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#"><%= t('index.sign_in') %></a>
              </li>
            </ul>
        </div>
  </div>
</nav>
<main>
  <section id="home" class="landing" onscroll="handleNavItems(this)">
    <h2 class="big-text"><%= t('photo_contest') %></h2>
  </section>
  <section id="photos" class="landing"></section>
  <section id="about" class="landing"></section>
</main>
<!-- <div class="intro">
  <div class="intro-text">
    <h1 class="hide">
      <span class="text">Creating inovation</span>
    </h1>
    <h1 class="hide">
      <span class="text">For Everyday</span>
    </h1>
    <h1 class="hide">
      <span class="text">people.</span>
    </h1>
  </div>
</div> -->
<!-- <div class="slider"></div> -->
<!-- <script>
  const tl = gsap.timeline({ defaults: { ease: "power1.out" } });

  tl.to(".text", { y: "0%", duration: 1, stagger: 0.25 });
  tl.to(".slider", { y: "-100%", duration: 1.5, delay: 0.5 });
  tl.to(".intro", { y: "-100%", duration: 1 }, "-=1.05");
  tl.fromTo("nav", { opacity: 0 }, { opacity: 1, duration: 1 });
  tl.fromTo(".big-text", { opacity: 0 }, { opacity: 1, duration: 1 }, "-=1");
</script> -->
<script>
  function handleNavItems(link) {
    var links = ['home_link', 'photos_link', 'about_link']

    for(var index = 0; index < links.length; index++) {
      document.getElementById(links[index]).className = 'nav-link'
    }
    link.className = 'nav-link active'
  }

  function isInViewport(el) {
    const rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    )
  }

  function checkViewport() {
    var home = document.getElementById('home')
    var photos = document.getElementById('photos')
    var about = document.getElementById('about')

    if (isInViewport(home)) {
      handleNavItems(document.getElementById('home_link'))
    } else if (isInViewport(photos)) {
      handleNavItems(document.getElementById('photos_link'))
    } else if (isInViewport(about)) {
      handleNavItems(document.getElementById('about_link'))
    }
  }

  function changeLanguage(language) {
    console.log(language.value);
    document.getElementById('language').submit()
  }

  window.addEventListener('load', (event) => {
    checkViewport()
  })

  window.addEventListener('scroll', (event) => {
    checkViewport()
  })
</script>
